.clock-container{
    position:relative;
    margin: auto;
    width: 40vw;
    height:40vw;
    background: url("clock.png") no-repeat ;
    background-size:  100% ; 
}
#hour{
    background: black;
    position: absolute;
    width: 1.6vw;
    top: 7vw;
    left: 19vw;
    height: 13vw;
    border-radius: 12px;
    opacity:0.8;
    transform-origin: bottom;
    
}
#minute{
    background: black;
    position: absolute;
    width: 1.2vw;
    top:5vw;
    left: 19.2vw;
    height: 15vw;
    border-radius: 12px;
    opacity: 0.8;
    transform-origin: bottom;
    
}


#second{
    background: black;
    position: absolute;
    width: .8vw;
    top: 4vw;
    left: 19.5vw;
    height: 16vw;
    border-radius: 12px;
    opacity: 0.8;
    transform-origin: bottom;
    
}